body{
    margin: 0%;
    padding: 0;
   background-color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
    color: black;
    /* background-color: aqua; */
    margin-top: 20px;
}
.button {
    float: right;
  display: inline-block;
  padding: 10px 20px;
  /* text-align: center; */
  text-decoration: none;
  font-size: 6px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 200px;
}



.ali{
   margin-left: 250px;
    height: 20px;
    width: 100px; 

   
}

button{
    background-color: black;
    color: white;
    float: right;
    /* margin-top: 20px; */
    margin-right: 200px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
}
main{
    background-color: whitesmoke; 
}

.aaa{
    text-align: center;
}
table{
height: 100px;
    width: 100px;
    border: 1 px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th{
    border: 1px solid black;
    padding: 10px;
    
}
td{
    border: 1px solid black;
   
 

}

footer p{
    text-align: center;
}